<mdc-toolbar [fixed]="true" class="crescer-toolbar">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <button class="crescer-menu-icon" material-icon mdc-toolbar-menu-icon [mdc-ripple]="true" (click)="handleMenuClick();">menu</button>
      <img src="assets/img/logo-cwi-crescer-03.png" height="56">
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
<mdc-temporary-drawer class="crescer-temporary-drawer" #drawer>
  <mdc-temporary-drawer-header class="crescer-temporary-drawer-header">
    <img src="assets/img/logo-cwi-crescer-01.png" width="180">
  </mdc-temporary-drawer-header>
  <mdc-temporary-drawer-content>
    <mdc-list-group>
      <mdc-list>
        <mdc-list-item class="crescer-temporary-drawer-list-item" *ngFor="let link of links" [routerLink]="[link.route]">
          <i material-icon mdc-list-item-start>{{link.icon}}</i>{{link.name}}
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group>
  </mdc-temporary-drawer-content>
</mdc-temporary-drawer>