.crescer-toolbar {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-background);      
}

.crescer-menu-icon {
    text-decoration: none;
    color: inherit;

    &:visited, &:focus, &:active {
        color: var(--mdc-theme-text-primary-on-background);
    }
}

.crescer-temporary-drawer {
    text-transform: uppercase;
    padding-left: 16px;
}

.crescer-temporary-drawer-header {
    padding-left: 20px;
    padding-bottom: 20px;

    &:before {
        padding-top: 20%;    
    }
}

.crescer-temporary-drawer-list-item {
    height: 32px;
    padding-left: 32px;
    letter-spacing: .2em;
    text-decoration: inherit;
}
  