.crescer-list-item {
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: white;
    height: 80px;

    img {
        border-radius: 50%;
        overflow: hidden;
        height: 64px;
        width: 64px;
        margin-left: 8px;
    }
}
